:root {
  --colorOne: #df2e2e;
  --colorTwo: #297f87;
  --colorThree: #f6d167;
  --accentColor: #fff7ae;
  --textColor: black;
}

nav {
  background-color: var(--colorThree);
}
body {
  background-color: grey;
}
